<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<testsuites>
		<testsuite>
			<directory prefix="Test" suffix=".php">./tests</directory>
		</testsuite>
		<testsuite name="attribute_name">
			<file>./tests/TestAttributeName.php</file>
		</testsuite>
		<testsuite name="meta_api">
			<file>./tests/TestMetaAPI.php</file>
		</testsuite>
		<testsuite name="integration">
			<directory prefix="Test" suffix=".php">./integration</directory>
		</testsuite>
		<testsuite name="integration_route">
			<file>./integration/TestRoute.php</file>
		</testsuite>
	</testsuites>
</phpunit>
