language: php
php:
  - 5.4
env:
  - WP_VERSION=3.8
  - WP_VERSION=4.0
  - WP_VERSION=4.5.2
before_install:
  - export PATH=./vendor/bin:./node_modules/.bin:$PATH
  - export WP_PATH=./test/wp/$WP_VERSION
  - export PORT=${WP_VERSION//./}00

install:
  - composer install
  - npm i -D
before_script:
  - echo 'date.timezone = "Asia/Tokyo"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'short_open_tag = On' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - mysql -uroot -e "create database custom_post_type"
  - mkdir ./test/wp
  - cp ./wp-cli.yml.sample ./wp-cli.yml

  - wp core download --version=$WP_VERSION  --path=$WP_PATH
  - wp core config --dbprefix=wp_${WP_VERSION//./_}_ --path=$WP_PATH
  - wp core install --path=$WP_PATH

  - ln -s $TRAVIS_BUILD_DIR $WP_PATH/wp-content/plugins/art_custom_post_type
  - ln -s $TRAVIS_BUILD_DIR/test/theme $WP_PATH/wp-content/themes/theme
  - wp plugin activate art_custom_post_type --path=$WP_PATH
  - wp theme activate theme --path=$WP_PATH
  - wp server --docroot=$WP_PATH --port=$PORT &
  - sleep 3
script:
  - PORT=$PORT npm test
