language: php
php:
  - 5.4
env:
  - WP_VERSION=3.8
  - WP_VERSION=4.0
  - WP_VERSION=4.5
  - WP_VERSION=4.6
before_script:
  - composer install
  - mysql -uroot -e "create database wp"
  - cd ./test && mkdir ./wp
  - export PATH=../vendor/bin:$PATH
  - wp core download --version=$WP_VERSION  --path=./wp/$WP_VERSION
  - wp core config --path=./wp/$WP_VERSION
  - wp core install --path=./wp/$WP_VERSION
script: ./vendor/phpunit/phpunit/phpunit -c test/phpunit.xml
